{% extends 'follow.html' %}

{% block title %}Interested{% endblock %}

{% block content %}
{{ block.super }}
{%load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/interested.css' %}">
    </head>
<form action=" " method="POST">
    {% csrf_token %}
    
<div class="form-container">
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
        <div class="mb-3">
            <label class="form-label"Type</label><br>
            <select class="form-select" name="type">
                <option>Leads</option>
                <option>Customers</option>
                <option>Partners</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Priority</label><br>
            <select class="form-select" name="priority">
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Product type</label><br>
            <select class="form-select" name="product_type">
                <option selected>Select Work</option>
                {% for product_name in Product %}
                <option>{{Product.product_name}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Demo Date</label><br>
            <input type="date" class="form-control1" name="demo_date">
        </div>
        
        <div class="mb-3">
            <textarea type="textarea" name="notes" class="form-control2" rows="4" ></textarea>
        </div>
        
        <div class="button-group">
            <button type="button" class="btn btn-cancel">Cancel</button>
            <button type="submit" class="btn btn-save">Save</button>
        </div>
    </form>
</div>

{%endblock%}