{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set a Password</title>
    <link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <a href="{% url 'login' %}" class="back-link" style="font-size: 14px;color: black;text-decoration: none;">&lt; Back to login</a>
            <h2>Set a password</h2>
            <p>Your previous password has been reset. Please set a new password for your account.</p>
            <form action="{% url 'resetpassword' %}" method="post">
                {% csrf_token %}
                <input type="password" name="password"  placeholder="Create Password" required>
                <input type="password" name="confirm_password" placeholder="Re-Enter Password" required>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
        <div class="illustration-container">
            <img src="{% static 'images/Rectangle21.png' %}" alt="Illustration showing secure password setup">
        </div>
    </div>
</body>
</html>
