{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify code</title>
    <link rel="stylesheet" href="{% static 'css/verifycode.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <a href="{% url 'login' %}" class="text-decoration-none mb-4 d-block" style="font-size: 14px; color: black; text-decoration: none;">&lt; Back to login</a>
            <h2>Verify Code</h2>
            <p>An authentication code has been sent to your email.</p>
            <form method="post" action="{% url 'otp_verification' %}">
                {% csrf_token %}
                <input type="text" id="otp" name="otp" placeholder="Enter Code" maxlength="6" required><br>
                <button type="submit">SUBMIT</button>
            </form>
            <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="illustration-container">
            <img src="{% static 'images/Rectangle21.png' %}" alt="Illustration showing secure login">
        </div>
    </div>
</body>
</html>
